a {
    margin: 0.25rem 1rem;

    &:hover {
        text-decoration: underline;
    }
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 2px solid black;;

    div.logo {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 1rem;
   
        svg,
        img {
            height: 40px;
        }

        div {
            display: block;
        }
    }

    nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;


    }

    div.auth-buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;

    }
}